 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
 left: 0;
  
    z-index: 1;
  }
  
  
  .dropdown-content a {
  
    display: block;
  }
  
   
  
  
 .sm.pixelstrap.sm-horizontal{position: static;}
 @media only screen and (max-width: 768px) {
    .sm.pixelstrap.sm-horizontal{position: fixed;}
    .open{right: 0;}
    .dropdown  {
     
      display: block;
  }
  }
 @media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-content {display: block;}
 }